*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #FFFFFF;
}
.container{
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    padding-bottom: 32px;
}
.leftdiv{
    min-width: 382px;
    min-height: 581px;
    background-image: url(https://static.cdninstagram.com/images/instagram/xig/homepage/phones/home-phones-2x.png?__makehaste_cache_breaker=73SVAexZgBW);
    background-repeat: no-repeat;
    background-size: 468.32px 634.15px;
    background-position: -47px 0px;
    margin: 0 32px 12px 0;
    /* background-color: rgb(0, 255, 187); */
}

.leftdiv img{
    position: relative;
    object-fit: cover;
    width: 250px;
    height: 538.84px;
    top: 27px;
    left: 113px;
    
}
.rightdiv{
    height: 100%;
    width: 350px;
    /* background-color: rgb(0, 234, 255); */
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}

.upperdiv{
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(219,219,219);
    gap: 5px;

}
.upperdiv img{
    height: 51px;
    width: 175px;
    object-fit: cover;
    object-position: 0 0;
    padding: 0 20px;
    margin: 25px 0;

}
.upperdiv input{
    all: unset;
    border: 1px solid rgb(219,219,219);
    border-radius: 2px;
    padding: 9px 0 7px 8px;
    /* margin-top: 10px; */
    background-color: #FAFAFA;
    width: 258px;
    height: 20px;
    font-size: 12px;
}
.upperdiv button{
    all: unset;
    width: 268px;
    height: 32px;
    border: 1px solid rgb(219,219,219);
    margin: 8px 40px;
    text-align: center;
    color: white;
    font-weight: 500;
    background-color: #4CB5F9;
    border-radius: 4px;
}
.line1{
    height: 1px;
    width: 100px;
    background-color: rgb(219 219 210);
}
.line2{
    display: flex;
    height: 1px;
    width: 100px;
    background-color: rgb(219 219 210);
}
.or{
    display: flex;
    align-items: center;
    height: 15px;
    width: 268px;
    margin-top: 6px;

}
.or span{
    margin: 20px;
    color: gray;
    font-size: 14px;
    font-weight: 600;

}
.loginfb{
    display: flex;
    margin-top: 20px;
}
.loginfb :nth-child(1){
    margin-right: 8px;
    min-height: 16px;
    min-width: 16px;
    background-image: url("https://static.cdninstagram.com/rsrc.php/v3/yV/r/6JqvJ6H_bFT.png");
    background-repeat: no-repeat;
    background-position: -347px -329px;
    background-size: 440px 411px;
}
.loginfb :nth-child(2){
    font-weight: 600;
    color:rgb(56, 81, 133);
}
.upperdiv :nth-child(7){
    text-decoration: none;
    color:rgb(56, 81, 133);
    font-size: 12px;
    margin: 15px 0;
}
.signup{
    height: 63px;
    width: 350px;
    border: 1px solid rgb(219,219,219);
    font-size: 14px;
    margin: 15px 15px 15px 0;
    text-align: center;
    padding: 20px;
}
.signup p a {
    text-decoration: none;
}
.signup p a span{
    color: #0497F6;
    font-weight: 600;
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90px;
    width: 350px;
    font-size: 14px;
    gap: 5px;
}
.appstore{
    display: flex;
    align-items: center;
    justify-content: center;
}
.appstore a img{
    max-width: 136px;
    margin: 5px;
}
.links a{
    text-decoration: none;
    color: rgb(115, 115, 115);
    /* text-align: center; */
    font-size: 12px;
    /* margin: 10px; */
}
.links{
    width: 100%;
    display: flex;
    gap: 12px;
    justify-content: center;
}
.langtag{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    font-size: 12px;
    color: rgb(115, 115, 115);
}
.langtag select{
    margin-right: 15px;
    position: relative;
    display: block;
    border: none;
    outline: none;
    left: -66px;
    /* z-index: -10; */
}
.langtag p{
    position: relative;
    left: -76px;
}
.zind{
    z-index: 10;
}